{% extends "base.html" %}

{% block content %}

<style>
    .home_page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
</style>

<div class="home_page">
<h1>GPT DEMO</h1>
<img src="https://media.discordapp.net/attachments/1008571088919343124/1083451744522096671/nii_a_student_working_on_a_computer_doing_some_homework_in_a_dr_236a41ca-c47a-41c7-aa51-f1ff024a662b.png?width=468&height=468" alt="student working in a dark room">
</div>
{% endblock %}