body {
    background-image: url('https://media.discordapp.net/attachments/1084303579856244766/1101946486587142144/hsieh.poyen_classic_fish_and_dragon_with_beautiful_plants_laven_047df8ed-1dc1-47c9-892c-f39573839444.png');
    background-repeat: repeat;
}

tr {
    padding: 5px;

}

tr>.header {
    font-weight: bold;
    background-color: #7d3799ec;
    color: white;
}

td {
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #7d3799;
    width: 200px;
}

a {
    color: #7d3799;
    text-decoration: none;
}

a:hover {
    color: #4f1e63;
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    min-height: fit-content;
    height: 700px;
}

h1 {
    font-family: sans-serif;
    margin: 0px;
    margin-bottom: 50px;
}
