<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/about.css">
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="title_card_title">About</div>
        <div class="title_card_body">This app takes your input and translates it into one of four languages. We hope it's useful to you!</div>
      </div>
    
    <div class="container">
      <div class="card">
        <div class="card_title">Russian:</div>
        <div class="card_body">Это приложение принимает ваш ввод и переводит его на один из четырех языков. Мы надеемся, что оно будет вам полезно!</div>
      </div>
      <div class="card">
        <div class="card_title">Hebrew:</div>
        <div class="card_body">היישום הזה מקבל את הקלט שלך ומתרגם אותו לאחד מארבעת השפות. אנו מקווים שזה יהיה שימושי עבורך!</div>
      </div>
	  <div class="card">
        <div class="card_title">French:</div>
        <div class="card_body">Cette application prend votre entrée et la traduit dans l'une des quatre langues. Nous espérons que cela vous sera utile!</div>
      </div>
	  <div class="card">
        <div class="card_title">Chinese:</div>
        <div class="card_body">这个应用程序接收您的输入并将其翻译成四种语言之一。我们希望它对您有所帮助！</div>
      </div>
    </div>
  </body>
</html>
