<head>
    <link rel='stylesheet' href='/stylesheets/index_style.css' />
</head>

<body>
    <div class="container">
        <h1>Translation App</h1>

        <h3>Available Languages</h3>

        <table>
            <tr class="header">
                <td class="header">Language</td>
                <td class="header">Creator</td>
            </tr>
            <tr>
                <td><a href="/veronika_gpt">Russian</a></td>
                <td>Veronika</td>
            </tr>
            <tr>
                <td><a href="/">Hebrew</a></td>
                <td>Daniel</td>
            </tr>
            <tr>
                <td><a href="/">French</a></td>
                <td>Ian</td>
            </tr>
            <tr>
                <td><a href="/">Chinese</a></td>
                <td>Kevin</td>
            </tr>

        </table>
    </div>
</body>
  
